<!doctype html>
<html>
<head>
    {% if app.environment == 'dev' %}
        {% set path = 'http://localhost:4200/' %}
    {% else %}
        {% set path = 'frontend/dist/' %}
    {% endif %}

    <meta charset="utf-8">
    <title>LMS</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset(path ~ 'favicon.ico') }}">
</head>
<body>
    <app-root>Loading...</app-root>

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset(path ~ 'inline.bundle.js') }}"></script>
    <script src="{{ asset(path ~ 'polyfills.bundle.js') }}"></script>
    <script src="{{ asset(path ~ 'styles.bundle.js') }}"></script>
    <script src="{{ asset(path ~ 'vendor.bundle.js') }}"></script>
    <script src="{{ asset(path ~ 'main.bundle.js') }}"></script>
</body>
</html>
